/*
Detta är min css-fil!

Här skriver vi "regler"

selektor {
   nyckel: värde;
   egenskap: nytt värde;
   property: value;
}

*/

body {
	background-color: rgb(141, 228, 255);
	color: rgb(0, 1, 51);
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

nav {
	background-color: hotpink;
}

table {
	border: solid 3px rgb(86, 5, 102);
	padding: 0.4rem;
	margin-left: 10%;
}
.ingress {
	font-style: italic;
}

#unik {
	font-weight: bold;
}
